{% extends "base.html" %} {% block title %}Create an Account{% endblock %} {%
block content %}

<div class="auth-form" style="width: 80%; margin: 5% 10% auto auto">
  <h3 align="center">Sign Up</h3>
  <form method="post">
    <div class="row p-2">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="row p-2">
      <div class="col">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="full name"
        />
      </div>
      <div class="col">
        <label for="uname">Username</label>
        <input
          type="text"
          class="form-control"
          name="uname"
          placeholder="username"
        />
      </div>
    </div>

    <div class="row p-2">
      <div class="col">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="email"
        />
      </div>
    </div>

    <div class="row p-2">
      <div class="col">
        <label for="passwd">Password</label>
        <input
          type="password"
          class="form-control"
          name="passwd"
          placeholder="password"
        />
      </div>
    </div>

    <div class="row p-2">
      <div class="col" align="center">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
    <p align="center">
      Already have an account?
      <a style="text-decoration: none" href="/login">Login</a>
    </p>
  </form>
</div>
{% endblock %}
