{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

<h1>Dashboard</h1>
  <style>
    h1, h2, h3, h4, h5, h6 {font-family: georgia, serif;}
    body {font-family: Verdana, sans-serif;}
  </style>
<!-- Progress Chart & Messages -->
<h3>Progress</h3>

<div class="progres row">
  <!-- Bar Chart -->
  <div class="progress-chart col-8">
    <canvas id="myChart" width="200" height="200"></canvas>
  </div>
  <!-- End Bar Chart -->

  <div class="progress-message col text-center">
    <div>
      <h5>
        <span class="material-symbols-outlined"> schedule </span>Time Studied
      </h5>
      <p>
        <font>{{weekly_total.split(':')[0]}}</font> hours
        <font>{{weekly_total.split(':')[1]}}</font> min (this week)
      </p>
    </div>
    <h5>
      <span class="material-symbols-outlined"> task </span>Tasks Completed
    </h5>
    <p><font>10</font> tasks (this week)</p>
  </div>
</div>
<!-- End Progress Chart & Messages -->

<!-- Goal Chart & Messages -->
<h3>Goals (this week)</h3>
<div class="goal row text-center">
  <div class="col">
    <!-- Pie Chart -->
    <div class="goal-chart">
      <canvas id="myPieChartTasks" width="400" height="400"></canvas>
    </div>
    <!-- End Pie Chart -->
    <p>You still need <font>5</font> more tasks.</p>
  </div>
  <div class="col">
    <!-- Pie Chart -->
    <div class="goal-chart">
      <canvas id="myPieChartDuration" width="400" height="400"></canvas>
    </div>
    <!-- End Pie Chart -->
    <p>You still need <font>5</font> more hours.</p>
  </div>
</div>
<!-- end Goal Chart & Messages -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Bar Chart JS -->
<script>
  const ctx = document.getElementById("myChart");
  let x_axis = JSON.parse({{x_axis | tojson}});
  let y_axis = JSON.parse({{y_axis | tojson}});
  new Chart(ctx, {
    type: "bar",
    data: {
      labels: x_axis,
      datasets: [
        {
          label: "Tasks Completed per Day",
          data: y_axis,
          backgroundColor: ["#E8B59C"],
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          display: true,
        },
        y: {
          display: true,
          beginAtZero: true,
        },
      },
    },
  });
</script>
<!-- End Bar Chart JS-->

<!--PIE CHART JS-->
<script>
  const ctx1 = document.getElementById("myPieChartTasks");

  new Chart(ctx1, {
    type: "pie",
    data: {
      labels: ["Tasks Completed", "Tasks Remaining"],
      datasets: [
        {
          label: "# of Tasks",
          data: [20, 5],
          backgroundColor: ["#E8B59C", "#E8E3D9"],
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          display: false,
        },
        y: {
          display: false,
          beginAtZero: true,
        },
      },
    },
  });
</script>
<!-- End Pie Chart JS -->

<!--PIE CHART TASKS-->

<script>
  const ctx2 = document.getElementById("myPieChartDuration");

  new Chart(ctx2, {
    type: "pie",
    data: {
      labels: ["Time Completed", "Time Remaining"],
      datasets: [
        {
          label: "# of Hours",
          data: [20, 4],
          backgroundColor: ["#E8B59C", "#E8E3D9"],
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          display: false,
        },
        y: {
          display: false,
          beginAtZero: true,
        },
      },
    },
  });
</script>
{% endblock %}
