{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: "3"
  }
  header{font-family: Georgia, 'Times New Roman', Times, serif; font-size: "5";}
</style>
<div class="auth-form" style="width: 80%; margin: 5% 10% auto auto">
  <h3 align="center">Login</h3>
  <form method="post">
    <div class="row">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <label for="uname">Username</label>
    <input
      type="text"
      class="form-control"
      name="user_input"
      placeholder="username"
    />
    <label for="passwd">Password</label>
    <input
      type="password"
      class="form-control"
      name="passwd"
      placeholder="password"
    />

    <div class="row">
      <div class="col" align="center">
        <button class="btn btn-primary" type="submit" style="background-color: #E8B59C"><font. color= "#E8E3D9">Login</fontcolor></button>
      </div>
    </div>
    <p align="center">
      Don't have an account?
      <a style="text-decoration: none" href="/create_account">Sign Up</a>
    </p>
  </form>
</div>
{% endblock %}
