{% extends "base.html" %} 
{% block content %}
    <head>
        <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
        <script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
    </head>
    <body>
        <div class="row p-5">
            <div id="map"></div>
            <style>
                #map {
                    height: 500px;
                }
                </style>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpXMc7uBSenUYzZT8-qvDHBX_njqP6XH0&callback=initMap&v=weekly" defer></script>
        </div>
    </body>
{% endblock %}