{% extends "base.html" %} {% block title %}Log Study{% endblock %} {% block
content %}

<!-- TODO: validate number input -->
<h1 align="center">Log Study Form</h1>
<div class="log-form">
  <form class="g-3" method="POST">
    <!-- Date -->
    <label for="date">Date</label>
    <input
      type="date"
      class="form-control"
      name="date"
      id="date"
      aria-label="date"
    />
    <!-- End Date -->

    <!-- Task -->
    <label for="task">Task</label>
    <input
      type="text"
      class="form-control"
      name="task"
      id="task"
      placeholder="enter your study task"
      aria-label="task"
    />
    <!-- End Task -->

    <!-- Amount -->
    <label for="amount">Amount</label>
    <div class="row">
      <div class="col">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder="0"
          aria-label="amount"
        />
      </div>
      <div class="col">
        <select name="unit" id="unit" class="form-select">
          <option value="pages">pages</option>
          <option value="modules">modules</option>
          <option value="chapters">chapters</option>
        </select>
      </div>
    </div>
    <!-- End Amount -->

    <!-- Duration -->
    <label for="duration">Duration</label>
    <div class="row">
      <div class="col">
        <input
          type="number"
          class="form-control"
          name="duration_h"
          id="duration_h"
          placeholder="0"
          aria-label="duration_h"
        />
      </div>
      <p class="col">hours</p>
      <div class="col">
        <input
          type="number"
          class="form-control"
          name="duration_m"
          id="duration_m"
          placeholder="0"
          aria-label="duration_m"
        />
      </div>
      <p class="col">minutes</p>
    </div>
    <!-- End Duration -->

    <!-- Location -->
    <label for="location">Location</label>
    <select name="location" id="location" class="form-select">
        <option value="home">home</option>
        <option value="school">school</option>
      </select>
    <!-- End Location -->
    <div align="center">
      <button type="submit" class="btn btn-primary">Log Study</button>
    </div>
    </div>
</form>
</div>
  {% endblock %}