{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<style>
  body { background-color: #CAD9DA; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
</style>
<!-- TODO: ADD LOG PROGRESS FORM -->
<div class="row g-3">
    <div class="col-sm-7">
      <input type="text" class="form-control" placeholder="Task" aria-label="Task">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Time needed" aria-label="Time needed">
    </div>
    <div class="col-auto">
        <label class="visually-hidden" for="autoSizingSelect">State of completion</label>
        <select class="form-select" id="autoSizingSelect">
          <option selected>Choose...</option>
          <option value="1">Need to start</option>
          <option value="2">In progress</option>
          <option value="3">Done</option>
        </select>
      </div>
</div>
<div class="row g-3">
  <div class="col-sm-7">
    <input type="text" class="form-control" placeholder="Location" aria-label="Location">
  </div>
  <div class="col-sm">
    <input type="text" class="form-control" placeholder="Day" aria-label="Day">
  </div>
  <div class="col-sm">
    <input type="text" class="form-control" placeholder="Amount" aria-label="Amount">
  </div>
  <div class="col-sm">
    <input type="text" class="form-control" placeholder="Duration" aria-label="Duration">
  </div>
</div>

{% endblock %}
