{% extends "base.html" %} {% block title %}Virtual Study Space{% endblock %} {% block
    content %}

<style>
    body {background-color: #CAD9DA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

<div id="pomodoro-app">
  <div id="container">
    <div id="timer">
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler"></div>
    </div>

    <div id="buttons">
      <button id="work">Work</button>
      <button id="shortBreak">Short Break</button>
      <button id="longBreak">Long Break</button>
      <button id="stop">Stop</button>
    </div>
  </div>
</div>
<HTML>
    <HEAD> <TITLE>Activity - Insert animated GIF to HTML</TITLE> </HEAD>
    <BODY>
      <IMG SRC="https://i.pinimg.com/originals/8d/f2/2d/8df22db5403a9f820a56788f10c9a9de.gif">
    </BODY>
    </HTML>
<div class="audiobox">
    <p>
        <button id="play1" class="button" onclick="playSound(1)">►</button>
        <span class="volumeslider">
            <img class="volume" src="file:///C:/Users/laure/Downloads/uvnZ2B01.svg" , width="16px">
                <input type="range" id="volume1" onchange="changeVolume(1)">
        </span>
    </p>
    <audio loop id="1" volume="0.0">
        <source src="https://www.soundjay.com/nature/rain-03.wav">
    </audio>
</div>
{% endblock %}