<style>
    body { background-image: url('rain gif.gif');background-size: cover;

    height: 100vh;
    padding:0;
    margin:0; background-repeat:repeat; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

<body>
    <!--HTML-->
    <div id="pomodoro-app">
        <div id="container">
          <div id="timer">
            <div id="time">
              <span id="minutes">25</span>
              <span id="colon">:</span>
              <span id="seconds">00</span>
            </div>
            <div id="filler"></div>
          </div>
      
          <div id="buttons">
            <button id="work">Work</button>
            <button id="shortBreak">Short Break</button>
            <button id="longBreak">Long Break</button>
            <button id="stop">Stop</button>
          </div>
        </div>
      </div>
      <!--END HTML-->
      <!--CSS-->
     <script>
      #container{
        border:1px solid #333;
        border-radius :20px;
        width:400px;
        margin:20px auto;
        padding:20px;
        text-align:center;
        background : #333;
      }
      
      #timer{ 
        color:#f00; 
        font-size:50px; 
        margin:10px auto;
        border : 5px solid red;
        border-radius:50%;
        width:200px;
        height:200px;
        overflow:hidden;
        position:relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor:default;
      }
      
      #time{
        margin-top:70px;
        z-index : 1;
        position:relative;
      }
      
      #filler{
        background : #ddffcc;
        height: 0px;
        width: 200px;
        position:absolute;
        bottom:0;
      }
      
      #buttons button { 
        background:#4da6ff; 
        border:none; 
        color:#fff; 
        cursor:pointer; 
        padding:5px; 
        width:90px; 
        margin:10px auto;
        font-size:14px;
        height : 50px;
        border-radius : 50px;
      }
      
      #buttons button#shortBreak{
        background : #0c0;
      }
      
      #buttons button#longBreak{
        background : #080;
      }
      
      #buttons button#stop{
        background : #f00;
      }
      </script>
      <!--END CSS-->
      <!--JS-->
    <script>
        {var pomodoro = {
    started : false,
    minutes : 0,
    seconds : 0,
    fillerHeight : 0,
    fillerIncrement : 0,
    interval : null,
    minutesDom : null,
    secondsDom : null,
    fillerDom : null,
    init : function(){
      var self = this;
      this.minutesDom = document.querySelector('#minutes');
      this.secondsDom = document.querySelector('#seconds');
      this.fillerDom = document.querySelector('#filler');
      this.interval = setInterval(function(){
        self.intervalCallback.apply(self);
      }, 1000);
      document.querySelector('#work').onclick = function(){
        self.startWork.apply(self);
      };
      document.querySelector('#shortBreak').onclick = function(){
        self.startShortBreak.apply(self);
      };
      document.querySelector('#longBreak').onclick = function(){
        self.startLongBreak.apply(self);
      };
      document.querySelector('#stop').onclick = function(){
        self.stopTimer.apply(self);
      };
    },
    resetVariables : function(mins, secs, started){
      this.minutes = mins;
      this.seconds = secs;
      this.started = started;
      this.fillerIncrement = 200/(this.minutes*60);
      this.fillerHeight = 0;  
    },
    startWork: function() {
      this.resetVariables(25, 0, true);
    },
    startShortBreak : function(){
      this.resetVariables(5, 0, true);
    },
    startLongBreak : function(){
      this.resetVariables(15, 0, true);
    },
    stopTimer : function(){
      this.resetVariables(25, 0, false);
      this.updateDom();
    },
    toDoubleDigit : function(num){
      if(num < 10) {
        return "0" + parseInt(num, 10);
      }
      return num;
    },
    updateDom : function(){
      this.minutesDom.innerHTML = this.toDoubleDigit(this.minutes);
      this.secondsDom.innerHTML = this.toDoubleDigit(this.seconds);
      this.fillerHeight = this.fillerHeight + this.fillerIncrement;
      this.fillerDom.style.height = this.fillerHeight + 'px';
    },
    intervalCallback : function(){
      if(!this.started) return false;
      if(this.seconds == 0) {
        if(this.minutes == 0) {
          this.timerComplete();
          return;
        }
        this.seconds = 59;
        this.minutes--;
      } else {
        this.seconds--;
      }
      this.updateDom();
    },
    timerComplete : function(){
      this.started = false;
      this.fillerHeight = 0;
    }
};
window.onload = function(){
  pomodoro.init();
};}
    </script>
    <!--END JS-->
</body>

<!-- <div id="pomodoro-app">
  <div id="container">
    <div id="timer">
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler"></div>
    </div>

    <div id="buttons" class="button">
      <button id="work" onclick="countdown">Work</button>
      <button id="shortBreak">Short Break</button>
      <button id="longBreak">Long Break</button>
      <button id="stop">Stop</button>
    </div>
  </div>
</div> -->

<HTML>
    <HEAD> <TITLE>Activity - Insert animated GIF to HTML</TITLE> </HEAD>
    <BODY>
      <IMG SRC="https://i.pinimg.com/originals/8d/f2/2d/8df22db5403a9f820a56788f10c9a9de.gif">
    </BODY>
    </HTML>
<div class = "audioandimage">
    <div class = "audiobox">
        <p>
            <audio controls autoplay; loop>
                <source src="https://storage.cloudconvert.com/tasks/f5f942cd-4210-43d0-a15e-ef8775e17c03/Rain-and-thunder-loop%5B1%5D.wav?AWSAccessKeyId=cloudconvert-production&Expires=1675035980&Signature=Bnwo66x7lq6q6kPfJyyiGyrzkF4%3D&response-content-disposition=attachment%3B%20filename%3D%22Rain-and-thunder-loop%5B1%5D.wav%22&response-content-type=audio%2Fwav" type="audio/wav">
                Your browser does not support the audio element.
                <button id = "play1" class = "button" onclick = "playSound(1)">&#9658</button>
                    Rainy Weather
                <span class = "volumeslider"><img class = "volume" src = "assets/volume.svg", width="16px">
                <input type="range" id="volume1" onchange = "changeVolume(1)">
                </span>  
            </audio>
        </p>
        
    </div>
</div>
